<form name="insert_image" id="insert_image" onsubmit="ImageDialog.insert();return false;" action="#">
   <div class="panel_wrapper">
    <div id="dynamic_select_panel" class="panel current" style='overflow:auto'>
      <fieldset>
        <legend>Available Images - Click to Add</legend>
        <ul id="flickr-list" class="image-list">
          <%= render :partial => 'tiny_mce/flickr_photo', :collection => @photos -%>
        </ul>
      </fieldset>
    </div>
  </div>
</div>

<div class="mceActionPanel">
  <div style="float: left">
    <input type="button" id="insert" name="insert" value="{#insert}" onclick="ImageDialog.insert();" />
  </div>

  <div style="float: right">
    <input type="button" id="cancel" name="cancel" value="{#cancel}" onclick="tinyMCEPopup.close();" />
  </div>
</div>
</form>

<% content_for :head do  -%>
  <%= javascript_include_tag 'tiny_mce/plugins/muckflickr/js/functions.js' -%>
<% end -%>
<script language="javascript" type="text/javascript">
jQuery(document).ready(function() { 
  jQuery('.image-container').click(function() {
    jQuery(this).toggleClass('highlight');
    return false;
  });
});
</script>